html, body, .container-fluid {
  background-color: #cccccc;
  height: 100%;
  background: lightyellow;
}

.backdropGrass{
  background-repeat:repeat-x;
  bottom: 0%;
  height: 45%;
  width: 100%;
  position: fixed;
}

.backdropSky{
  background-repeat:repeat-x;
  top: 0%;
  height: 55%;
  width: 100%;
  position: fixed;
}

.col {
  border: solid 1px #6c757d;
}

/*Sets the character to the center of the screen*/
.Character{
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
}

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  background-image: url("images/bricks.png");
  background-repeat:repeat;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
}

#skillsSidebar {
  left: 0;
}

#tasksSidebar {
  right: 0
}
