/* This style is the parent for the other pieces of information that will appear on every skill */

.skillTab{
  position: relative;
  width: 100%;
  margin-top: 2.5%;
  margin-left: 0%;
  margin-bottom: 2.5%;
}

/* Style used to make the name of the skill appear in the designated box for names */
.skillName{
  position: absolute;
  margin-top: 3%;
  top: 0%;
  left: 5%;
}

/* Keeps the level for the skill in a specific spot */
.skillLevel{
  position: absolute;
  color: rgb(0, 15, 120);
  bottom: 10%;
  left: 5%;
}

.skillButton{
  position: absolute;
  bottom: 25%;
  left: 3%;
}

/* Progress bar for each skill's experience */
.Xp{
  -webkit-appearance: none;
  position: absolute;
  bottom: 45px;
  left: 100px;
  width: 100%;
  max-width: 350px;
}

.Xp::-webkit-progress-bar{
  background: whitesmoke;
  border-radius: 10px;
}

.Xp::-webkit-progress-value{
  background: blue;
  border-radius: 10px;
}

.skillDesc{
  position:absolute;
  top:20%;
  left: 5%
}